#logo{
    float: left;
    width: 80px;
    height: 80px;
    margin: 8px;
    margin-right: 15px;
    margin-top: 16px;
}

#sushis, #carpaccios, #destaques, #sobremesas, #fritos, #bebidas, #temakis, #sashimis{
    scroll-margin-top: 80px;
    text-align:center;
}

p{
    color: white;
}

.right-header{
    display:flex;
    justify-content: space-evenly;
    align-items: right;
    flex: 0 0 auto;
}

header{
    background-color: black;
    color: white;
    font-family:'Germania One';
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 16px;
}

.flex-item{
    flex: 0 0 auto;   
    width: 300px;
}

button, .voltar{
    background-color: rgb(208, 42, 42);
    border: 2px solid white;
    border-radius: 15px;
    color: black;
    font-family: 'Germania One';
    padding: 8px 18px;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;   
    font-size: 25px;
    text-decoration:none;
}

button:hover, .voltar:hover{
    background-color: rgb(125, 25, 25);
}

#nromesa{
    background-color: black;
    padding: 8px 18px;
    font-size: 16px;
}

h1, h2, h3{
    background-color: black;
    color: white;
    font-family:'Germania One';
}

body{
    margin:0px;
    background-color: black;
}

hr{
    color:rgb(208, 42, 42);
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: black;
}

.navbar ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
}
.navbar a{
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px;
}
.navbar li:hover{
    background-color:rgb(125, 25, 25);
}
.navbar li{
    float: left;
    font-family: 'Germania One';
    background-color:rgb(208, 42, 42);
    border-radius: 15px;
    margin: 5px;
    border: 2px solid white;

}
/*Cozinha*/

#pedidos-recebidos{
    text-align: center;
}

#cozinha{
    border: 2px solid red;
    border-radius: 15px;
    width: 100px;
    padding: 10px;
}

.right-item{
    text-align: right;
}

/*Página de administrador*/

body{
    background-color: black;
}

.pal_container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pal_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.pal_logo img{
    width: 150px;
    max-width: 100%;
    height: auto;

}

.pal_titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pal_titulo h1{
    color: white;
    font-family:'Germania One';
}

.pal_titulo p{
    color: white;
        font-family:'Germania One';
}

.pal_input{
    color: white;
    background-color:rgb(208, 42, 42);
    border: 1px solid   rgb(208, 42, 42);
    border-radius: 15px;
    padding: 10px;
    width: 250px;
}

.pal_input::placeholder {
    color: white;
    opacity: 1;
}

.pal_button button{
    color: white;
    background-color: rgb(208, 42, 42);
    border: 1px solid rgb(208, 42, 42);
    border-radius: 15px;
    padding: auto;
    width: 100px;
}


.pal_forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/*Painel de administrador*/

.pa_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.pa_header{
    background-color:rgb(208, 42, 42);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 2px solid black;
}

.pa_header_logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pa_header_logo img{
    height: 50px;
    width: 50px;
}

.pa_header_titulo p{
    font-size: larger;
}

.pa_header_sair {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    border: 1px solid white;
    border-radius: 15px;
    padding: auto;
    width: 100px;
}

.pa_header_sair button{
    color: rgb(208, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    border: 1px solid white;
    border-radius: 15px;
    padding: auto;
    width: 100px;
}


.pa_titulo h1{
    color: white;
}

.pa_acoes{
    display:flex;
    flex-direction: column;
    gap: 30px;
}

.pa_acao {
    display: block;
    align-items: center;
    padding: 20px;
    width: 400px;   
    background-color:rgb(208, 42, 42);
    border: 2px solid rgb(208, 42, 42);
    border-radius: 15px;
    border-width: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
}

/*Painel admnistrador-adicionar item*/
.ai_main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}
.ai_main h1{
    color: white;
    font-family:'Germania One';
}

.ai_campo{
    color: white;
    font-family:'Germania One';
}

.ai_forms {
    background-color: rgb(208, 42, 42);
    width: 100%;
    max-width: 500px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 2px solid rgb(208, 42, 42);
    border-radius: 20px;
}

.ai_campo {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.ai_campo label {
    color: white;
    font-weight: bold;
}

.ai_botao button{
    background-color: white;
}

/*Painel admnistrador-editar item*/

.ei_main h1{
    color: white;
}

.ei_main {
    width: 90%;
    max-width: 1000px;

    margin: 40px auto;
}

.ei_busca {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 30px;
}

.ei_busca label {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.ei_busca input {
    width: 100%;
    padding: 13px;
      background-color: rgb(208, 42, 42);

    border: 2px solid rgb(208, 42, 42);
    border-radius: 12px;

    font-size: 16px;
    box-sizing: border-box;
}

.ei_busca input::placeholder {
    color: white;
    opacity: 1;
}

.ei_busca input:focus {
    outline: none;
    border-color: rgb(208, 42, 42);
}

.ei_lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ei_card {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px;

    background-color: rgb(208, 42, 42);
    border: 2px solid rgb(208, 42, 42);
    border-radius: 18px;
}

.ei_card_imagem img {
    width: 140px;
    height: 140px;

    object-fit: cover;
    border-radius: 12px;
}


.ei_card_informacoes {
    flex: 1;
}

.ei_card_informacoes h2 {
    margin-top: 0;
    margin-bottom: 10px;

    color: white;
    font-family: "Germania One", serif;
}

.ei_descricao {
    margin-bottom: 10px;
    color: whitesmoke;
}

.ei_categoria {
    margin-bottom: 8px;
    color: white;
}

.ei_preco {
    margin: 0;

    color:white;
    font-size: 20px;
    font-weight: bold;
}

.ei_card_acoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ei_editar, .ei_remover {
    width: 110px;
    padding: 10px;

    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

    box-sizing: border-box;
}

.ei_editar {
    color: rgb(208, 42, 42);
    background-color: white;
    border: 2px solid white;

    text-decoration: none;
}

.ei_editar:hover {
    background-color: #9f3f3f;
}

.ei_remover {
    color: white;
    background-color:rgb(208, 42, 42);
    border: 2px solid white;
}

.ei_remover:hover {
    color: white;
    background-color: rgb(208, 42, 42);
}