#logo{
    float: left;
    width: 80px;
    height: 80px;
    margin: 8px;
    margin-right: 15px;
}

header{
    background-color: black;
    color: white;
    font-family:'Germania One';
}

body{
    margin: 0px;
}

.navbar ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
}
.navbar a{
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px;
}
.navbar li:hover{
    background-color:rgb(125, 25, 25);
}
.navbar li{
    float: left;
    background-color:rgb(208, 42, 42);
    border-radius: 15px;
    margin: 5px;
    border: 2px solid white;
}